body{
  text-align: center;
  padding: 0;
  margin: 0;
font-family: "Lobster",cursive;
  background-color: #ffffcc;
  }
.entry_div{
  background-color: #9be3de;
}
.title{
  font-size: 900%;
  padding: 90px;
  font-family: "Lobster",cursive;
  color: #3ca59d;
}
.entry_p{
  font-size: 200%;
  font-family: "Zilla Slab",cursive;

}
.entry-p{
  font-size: 200%;
  font-family: "Lobster";
  padding: 0 0 50px 0;
}
.entry_img{
  height: 60%;
  width: 70%;
}
.intro{
  text-align: center;
}
.intro img{
  width: 200px;
  border-radius: 50%;

}
.skills h1{
  font-size: 450%;
}
.skills h3{
  font-size: 350%;
  font-family: "Zilla Slab",cursive;
}
.skills img{
  width: 300px;
  border-radius: 50%;
  float: left;
  padding: 0 20px 0;
}
.skills p{
  font-size: 250%;
  font-family: "Dancing Script",cursive;
}
.skills-2{
  padding: 30px  200px;
}
.skills-2 h3{
  font-size: 350%;
  font-family: "Zilla Slab",cursive;
}
.skills-2 img{
  width: 300px;
  border-radius: 50%;
  float: right;
  padding: 0 20px 0;
}
.skills-2 p{
  font-size: 250%;
  font-family: "Dancing Script",cursive;
}
#get-in-touch{
margin: 50px 0 0;
}
#get-in-touch h2{
  font-family: "Zilla Slab",cursive;
  font-size: 200%;
  padding: 40px 0 0;
}
#footer{
  background:linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  font-family: "Zilla Slab",cursive;
}
#footer img{
  width: 50px;
}
#footer a{
  padding: 0 20px 0;
}
